:root {
  --primary-color:  #F58981;
  --secondary-color: #e55d19 ;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: 'Ibarra Real Nova', serif;
  background: linear-gradient(to right,var(--primary-color), white,white, var(--primary-color) );

}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: var(--primary-color);
  font-weight: bolder;
}

p {
  color: var(--secondary-color);
  padding: 30px;
  border-radius: 4px;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
}



.hero{
font-family: 'Ibarra Real Nova', serif;
font-style: italic;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  background: white;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  
  
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;

}

#launch {
  border-color: var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
}

#launch a{
text-decoration: none;
  color: white;

}

.social-links a{
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
  background: white ;
  opacity: 50%;
  padding: 10px 14px;
  border-radius: 50%;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
  
}

.social-links a:hover{
  color:white;
  background: var(--primary-color);
}

#contact-heading{
  color: var(--secondary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.reach-me{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 25px;
}

.reach-me:hover{
color: var(--secondary-color);
text-decoration: underline;
}

#open{
  color: var(--primary-color);
  text-align: center;

}

#open a{
  color: var(--primary-color);
  text-decoration: none;
}

#open a:hover{
  text-decoration: underline;
}